.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.primary {
    color: #333333;
    background-color: #E8BF59;
}

.secondary {
    color: #333333;
    background-color: #A490E5;
}