.transactionCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 14px;
    cursor: default;
}

.transactionCardDescription {
    margin-left: 32px;
}

.transactionCardValue {
    margin-right: 32px;
}

.transactionCardValue.income {
    color: #009379;
}

.transactionCardValue.expense {
    color: #FF6250;
}