.landing-page-info-container {
    display: flex;
    flex-direction: column;
    height: 1048px;
    grid-area: info;
}

.landing-page-info-snapshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.future-snapshot {
    width: 1080px;
    height: 500px;
    border-radius: 15px;
    background-color: #E8BF59;
}

.divider {
    height: 1px;
    opacity: 20%;
    color: white;
    background-color: white;
    margin: 0 100px;
    border-radius: 15px;
}

.landing-page-info-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 348px;
}

.landing-page-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
    height: 248px;
}

.infoCardIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
    color: #E8BF59;
}

.infoCardTitle {
    line-height: 32px;
    font-weight: 600;
}

.infoCardDescription {
    line-height: 32px;
    opacity: 0.4;
}