.register-box-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px 50px;
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 460px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
    background-color: rgba(0,0,0,.5);
    
    /*position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    */
}

.register-box h1 {
    
    padding: 0;
    color: #fff;
}

.register-box .user-box input {
    width: 300px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

button{
    width: 300px;
    height: 50px;
    border: none;
    background: #a490e5;
    color: #2B2B2B;
    font-size: 18px;
    font-weight: 400;
    border-radius: 15px;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    cursor: pointer;
    margin-bottom: 60px;
    transition-duration: 0.4s;
}

button:hover {
    color:#2B2B2B;
    background-color: #E8BF59;
    transition-duration: 0.4s;
    
}

.register-box p {
    color: rgba(255, 255, 255, 0.4);
}

.register-box a {
    text-decoration: none;
    color: white;
}