.dashboardContainer {
    display: flex;
    justify-content: flex-start;
}

.dashboardContent {
    width: 100%;
    background-color: #3b3b3b;
}

.dashboardCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

.dashboardGeneralChartContainer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 546px;
    border-radius: 15px;
    margin: 0 30px 30px 30px;
    background-color: #2b2b2b;
}

.dashboardGeneralChart h2 {
    margin: 32px 0 78px 32px;
}

.dashboardTransactionsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 0 30px 30px 30px;
}

.dashboardExpensesChartContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 546px;
    height: 380px;
    border-radius: 15px;
    background-color: #2B2B2B;
}

.dashboardExpensesChartContainer h2 {
    font-size: 19px;
    margin: 32px 0 32px 32px;
}