.dashboard-page-container {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "navbar header"
        "navbar general-chart"
        "navbar transactions"
        "navbar transactions";
    background-color: #3b3b3b;
}

.dashboard-general-chart-section {
    grid-area: general-chart;
    display:flex;
    height: 606px;
}

.dashboard-general-chart-box {
    display: flex;
    width: 1200px;
    height: 546px;
    border-radius: 15px;
    margin: 30px 30px;
    background-color: #2b2b2b;
}

.dashboard-general-chart-container {
    display: flex;
    flex-direction: column;
}

.dashboard-general-chart-container h2 {
    margin: 32px 0 78px 32px;
}

.dashboard-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

.dashboardGeneralChartContainer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 546px;
    border-radius: 15px;
    margin: 0 30px 30px 30px;
    background-color: #2b2b2b;
}

.dashboard-transactions-section {
    grid-area: transactions;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 0 30px 30px 30px;
}

.dashboard-expenses-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 546px;
    height: 380px;
    border-radius: 15px;
    background-color: #2B2B2B;
}

.dashboard-expenses-chart-container h2 {
    font-size: 19px;
    margin: 32px 0 32px 32px;
}