.home-logo-container {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    
}

.home-logo-image {
    width: 65px;
    height: 40px;
    margin-right: 10px;
    margin-left: 55px;
}