.dashboard-header-container {
    grid-area: header;
    display: flex;
    align-items: center;
    height: 56px;
    margin: 10px 0;
}

.dashboard-header-title {
    font-size: 24px;
    margin-left: 30px;
}