.home-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    grid-area: navbar;
}

.home-navbar-buttons-container {
    display: flex;
}

.home-navbar-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.home-login-btn:hover {
    background-color: #E8BF59;
    transition-duration: 0.4s;
}
