.home-header-container {
    display: flex;
    justify-content: center;
    height: 600px;
    grid-area: header;
}

.home-header-info-container {
    display: flex;
    flex-direction: column;
    margin: 104px 120px 0 100px;
}

.home-header-snapshot-container {
    display: flex;
    flex-direction: column;
    margin: 77px 100px 0 0;
}

.home-header-info-container h1 {
    width: 550px;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
    margin-bottom: 40px;
}

.home-header-info-container p {
    width: 550px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.4;
    margin-bottom: 72px;
}

.home-header-snapshot {
    width: 500px;
    height: 446px;
    border-radius: 15px;
}