.generalChartContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 850px;
    height: 420px;
    border-radius: 15px;
    margin: 30px 30px 30px 30px;
    background-color: #2B2B2B;
}