header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
}

.headerDescription {
    width: 550px;
}

.headerDescription h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
}

.headerDescription p {
    line-height: 32px;
    opacity: 0.4;
}

.headerDescription .headerButton {
    margin-top: 80px;
}

.headerSnapshot {
    width: 500px;
    height: 446px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #A490E5;
}