.dashboard-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.logo {
    margin: 0;
    background-color: red;
    font-size: 90px;
}

.dashboard-navbar {
    width: 255px;
    height: 100vh;
    background-color: black;
}

.navbar-element {
    display: flex;
    align-items: center;
    height: 56px;
    text-decoration: none;
    color: white;
    background-color: rgb(71, 71, 71);
    border-left: 4px solid #A490E5;
}

.navbar-icon {
    width: 20px;
    height: 20px;
    margin: 0 20px;
}