.section1 {
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.section1-description {
    width: 540px;
    height: 100%;
    margin-left: 100px;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 600;
    margin-top: 104px;
}

p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    opacity: 0.5;
}

button {
    width: 175px;
    height: 50px;
    border-radius: 15px;
    background-color: #E8BF59;
    color: #333333;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 74px;
    margin-bottom: 104px;
}

img {
    margin-right: 100px;
    width: 500px;
    height: 446px;
    margin-top: 77px;
    margin-bottom: 77px;
    border-radius: 15px;
    border: 2px solid #a490e5;
}