.dashboard-navbar-container {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    width: 255px;
    background-color: #2b2b2b;
}

.dashboard-navbar-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.dashboard-navbar-element {
    width: 100%;
    height: 56px;
    border-left: 12px solid #2b2b2b;
    transition-duration: 0.2s;
}

.dashboard-navbar-element a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
}

.dashboard-navbar-icon {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 32px;
}

.dashboard-navbar-element:hover {
    border-left-color: #A490E5;
}

.dashboard-navbar-element a:hover {
    color: white;
    background-color: #3b3b3b;
}

.dashboard-navbar-element.active {
    border-left-color:#E8BF59;
    background-color: #3b3b3b;
}

.dashboard-navbar-element.active a {
    color: white;
}

.dashboard-navbar-icon.active {
    color: white;
}
